# Environnements virtuels
.venv/
venv/
env/

# Data
data/

# Outputs
output/
outputs/
figures/

# Fichiers générés
*.png
*.jpg
*.csv
*.jpeg

# Fichiers système
.DS_Store
__pycache__/
*.pyc

# Fichiers confidentiels
cookies.txt