# Environnements virtuels
.venv/
venv/
env/

# Data
data/
manifest_iiif_process/
images_process/
pdf_process/

# Outputs
output/
outputs/
figures/

# Fichiers générés
*.png
*.jpg
*.csv
*.jpeg
input/_tmp_pdf

# Fichiers système
.DS_Store
__pycache__/
*.pyc

# Fichiers confidentiels
gallica.bnf.fr_cookies.txt
untitled text 2.txt

# Autres 
note_memoire_scraping.md
scripts/scraping_gallica_v1.py
scripts/scraping_pdf_debug
input/state_step1_revues.json
tmp_step2_smoke.json